@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Admin" asp-action="ChangePassword" method="post" class="am-form am-form-horizontal" role="form">
    <hr />
    <div asp-validation-summary="All" class="am-text-danger"></div>
    <div class="am-form-group">
        <label asp-for="OldPassword" class="am-u-md-4 am-form-label"></label>
        <div class="am-u-md-8">
            <input asp-for="OldPassword" class="am-form-field" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="am-form-group">
        <label asp-for="NewPassword" class="am-u-md-4 am-form-label"></label>
        <div class="am-u-md-8">
            <input asp-for="NewPassword" class="am-form-field" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="am-form-group">
        <label asp-for="ConfirmPassword" class="am-u-md-4 am-form-label"></label>
        <div class="am-u-md-8">
            <input asp-for="ConfirmPassword" class="am-form-field" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="am-form-group">
        <div class="am-u-md-offset-4 am-u-md-8">
            <button type="submit" class="am-btn am-btn-primary">Change password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
