@using System.Threading.Tasks
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Admin" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="am-form am-form-horizontal" role="form">
    <hr/>
    <div asp-validation-summary="All" class="am-text-danger"></div>
    <div class="am-form-group">
        <label asp-for="Email" class="am-u-md-2 am-form-label"></label>
        <div class="am-u-md-10">
            <input asp-for="Email" class="am-form-field"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="am-form-group">
        <label asp-for="Password" class="am-u-md-2 am-form-label"></label>
        <div class="am-u-md-10">
            <input asp-for="Password" class="am-form-field"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="am-form-group">
        <div class="am-u-md-offset-2 am-u-md-10">
            <div class="checkbox">
                <input asp-for="RememberMe"/>
                <label asp-for="RememberMe"></label>
            </div>
        </div>
    </div>
    <div class="am-form-group">
        <div class="am-u-md-offset-2 am-u-md-10">
            <button type="submit" class="am-btn am-btn-primary">Log in</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}