@model Catalog

<h2>@ViewData["Title"]</h2>

<p>
    Are you sure you want to delete the catalog titled
    <strong>@Model.Title</strong>?
</p>

<form asp-controller="Catalog" asp-action="Delete" method="post" class="am-form am-form-horizontal" role="form">
    <hr />
    <div class="am-form-group">
        <button type="submit" class="am-btn am-btn-primary">Delete</button>
        <button type="button" class="am-btn am-btn-secondary" onclick="window.history.go(-1);">Cancel</button>
    </div>
</form>